.mat-mdc-card {
    position: relative;
    border-radius: var(--mdc-elevated-card-container-shape, var(--mdc-shape-medium, 4px));
    background-color: #dedede;
    border-width: 0;
    border-style: solid;
    border-color: var(--mdc-elevated-card-container-color, transparent);
}

.mat-mdc-card-title {
    display: block;
    margin: unset;
    padding-left: 15px;
    padding-top: 9px;
}

mat-card {
    @media (max-width: 720px) {
        min-height: 100px;
    }
}
